/* Buttons and Link Buttons */

/* button,
input[type="submit"],
input[type="button"], */
.btn {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: var(--blue-50);
  color: var(--white);
  border: 2px solid var(--blue-50);
  border-radius: var(--radius-sm);
  box-shadow: 0px 4px 8px rgba(28, 34, 36, 0);
  box-sizing: border-box;
  cursor: pointer;
  transition: border 0.2s, background 0.2s, color, box-shadow 0.2s ease-out;

  &:hover {
    background-color: var(--blue-40);
    color: var(--white);
    border: 2px solid var(--blue-40);
    box-shadow: 0px 4px 8px rgba(28, 34, 36, 0.16);
  }
  &:active {
    background-color: var(--blue-60);
    border: 2px solid var(--blue-60);
  }
  &:focus {
    box-shadow: 0 0 0px 2px rgba(60, 166, 208, 1);
  }
  &.btn-secondary {
    box-sizing: border-box;
    background: transparent;
    color: var(--link);
    border: 2px solid var(--gray-30);
    &:hover {
      background-color: transparent;
      color: var(--link-hover);
      box-shadow: 0px 4px 8px rgba(28, 34, 36, 0.16);
    }
    &:active {
      background-color: var(--blue-60);
      border: 2px solid var(--blue-60);
    }
  }

  /* &.btn-secondary {
    box-sizing: border-box;
    background: transparent;
    color: var(--link);
    border: 2px solid var(--gray-30);
    &:hover {
      background-color: transparent;
      color: var(--link-hover);
    }
  } */
}

button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
.button-disabled {
  cursor: default;
  background: var(--gray-5);
  color: var(--gray-50);
  border: 2px solid var(--gray-5);
  box-shadow: none;
  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
  &:hover {
    cursor: not;
    background: var(--gray-5);
    color: var(--gray-50);
    border: 2px solid var(--gray-5);
    box-shadow: none;
  }
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

/* .btn {
  display: inline-block;
  font-weight: 700;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-border-radius
  );
  @include transition($btn-transition);
} */
