:root {
  /* colors */

  --white: #fff;
  --black: #000;

  /* grays */
  --gray-0: #fafafa;
  --gray-5: #edf0f1;
  --gray-10: #e1e6e7;
  --gray-20: #d3dadd;
  --gray-30: #c3cdd0;
  --gray-40: #aebbbf;
  --gray-50: #8c9a9f;
  --gray-60: #4e595c;
  --gray-70: #3b4447;
  --gray-80: #2e3639;
  --gray-90: #242b2e;
  --gray-100: #1c2224;

  /* blues */
  --blue-0: #f2fcff;
  --blue-5: #e2f6fc;
  --blue-10: #d3f1f9;
  --blue-20: #aee2f1;
  --blue-30: #79c9e3;
  --blue-40: #3ca6d0;
  --blue-50: #047eb6;
  --blue-60: #00639d;
  --blue-70: #004c81;
  --blue-80: #003865;
  --blue-90: #00274a;

  /* reds */
  --red-0: #fff7f8;
  --red-5: #ffdcde;
  --red-10: #ffc0c4;
  --red-20: #ff9097;
  --red-30: #f6646e;
  --red-40: #e63e4a;
  --red-50: #d1212d;
  --red-60: #b01e28;
  --red-70: #8c1c24;
  --red-80: #681a1f;
  --red-90: #451518;

  /* yellows */
  --yellow-0: #fffcf2;
  --yellow-5: #fff2ad;
  --yellow-10: #ffea64;
  --yellow-20: #ffcc02;
  --yellow-30: #ca9d00;
  --yellow-40: #a17800;
  --yellow-50: #815c00;
  --yellow-60: #684500;
  --yellow-70: #533200;
  --yellow-80: #402300;
  --yellow-90: #2e1700;

  /* greens */
  --green-0: #f2fff7;
  --green-5: #c5f7d8;
  --green-10: #9bf0ba;
  --green-20: #58d386;
  --green-30: #19c157;
  --green-40: #009939;
  --green-50: #007b2d;
  --green-60: #006425;
  --green-70: #00501d;
  --green-80: #003e17;
  --green-90: #002e11;

  /* color usage */
  --text-1: var(--gray-100);
  --text-2: var(--gray-90);
  --bg-1: var(--gray-0);
  --surface-color: var(--white);
  --surface-border: var(--gray-5);
  --link: var(--blue-50);
  --link-hover: var(--blue-60);
  --input-bg: var(--surface-color);
  --input-border: var(--gray-20);
  /* --btn-primary-bg: var(--blue-40); */
  /* --btn-secondary-bg: var(--surface-color); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color usage for dark theme */
    --text-1: var(--gray-0);
    --text-2: var(--gray-5);
    --bg-1: var(--gray-100);
    --surface-color: var(--gray-90);
    --surface-border: var(--gray-70);
    --link: var(--blue-40);
    --link-hover: var(--blue-30);
    --input-bg: var(--surface-color);
    --input-border: var(--gray-20);
  }
}
